# Minimal runtime dependencies for the project
numpy>=2.0  
pandas>=2.2.2  # First version fully compatible with NumPy 2.0
scikit-learn>=1.5 
pyarrow>=17.0      
scipy>=1.13
lifetimes>=0.11.3
matplotlib>=3.9
seaborn>=0.13
plotly>= 6.6.0
jinja2>=3.1.6
# pip install -r requirements.txt
